html, body {
  height: 100%;
  padding: 0;
    margin: 0;
}

body {
    background-image: url(../img/cast-bg.jpg);
display: table;
width: 100%;



}


header * {
    /* background-color: #4c311f;
    color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    position: relative; */
    color: white;
}

header .navbar{
  border-radius: 0 0 0 0;
  background-color: #4c311f;
  border: none;
  border-bottom: 1px solid #4c311f;
  color: white;
  height: 70px;
}

.navbar-default .navbar-nav > li > a{
color: white;
font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav > li > a:hover{
    color: white;
    background-color: #D6C1A2;
    font-family: 'Montserrat', sans-serif;
    }

header .navbar-brand img {
    /* width: 80px; */
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    left: 50px;
}

#logonav {
   position: absolute;
   left: 49vw;
   height: 150%;
   margin-top: -20PX;

}

.inscription {
    color: white;
    position: absolute;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 55px;
}

.deconnexion {
    color: white;
    position: absolute;
    font-size: 20px;
    margin-left: 1750px;
    margin-top: 55px;
}

footer {
    background-color: #4c311f;
position: relative;
    width: 100%;
    color: white;
    height: 120px;
    text-align: center;
    font-size: 13px;
    bottom: 0;
    margin-top: 200px;
    display: table-row;
    margin-top: 100px;


}


footer .equipe {
  margin: auto;
  width: 500px;

  padding-top:15px;
  padding-bottom: 10px;
}

footer .equipe span {
  color: #57a9cb;

}

.logoteam {
  width: 100px;


}

.container-fluid {
  margin-top: 10px;
}

.accueil {
    color: white;
    position: absolute;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 30px;
}

.titre_img{
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

#grillestories{
max-width: 1200px;
margin-left: auto;
margin-right: auto;
max-height: auto;
padding-top: 10px;
}

#grid{
  display: grid;
  grid-template-columns : 1fr 1fr 1fr ;
  grid-template-rows : 700px;
  grid-auto-rows : 700px;
  grid-column-gap: 30px;
  margin-top: 40px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

li {
  list-style-type: none;
}

#grid > li {
  list-style-type: none;


  position: relative;
  padding-top: 50%;
}


#grid img {
  position: absolute;
  z-index: 0;
  height: 50%;
  width: 100%;
  left: 0;
  top:0;
  object-fit: contain;

  background-color: #D6C1A2;
}

#grid #liste li  {
list-style-type: none;
color:#4c311f ;
text-align: center;
text-decoration: none;
font-family: 'Montserrat', sans-serif;

}



#grid ul #liste {
background-color: #D6C1A2;
position: absolute;
z-index: 0;
height: 50%;
width: 100%;
left: 0;
top:50%;
object-fit: contain;
padding-top: 10px;




}

#grid #liste .titrestorie {
font-family: "Vidaloka";
font-size:30px;
color: #a93907;
font-weight: bold;


}

#grid #liste .commencer{
    padding: 15px 18px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #D6C1A2;
    background-color: #a93907;
    border: none;
    margin-left: 120px;;
   bottom:5px;
    box-shadow: 0 5px #999;
    position: absolute;
  }

  #grid #liste .commencer:hover {background-color: #a93907}

  #grid #liste .commencer:active {
    background-color: #a93907;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


#grid #liste .auteur {
    font-style: italic;
    font-size: 12px;


    }



#grid #liste .descrip {
    text-align: justify;
    font-size: 15px;
     font-family: 'Arvo', serif;
     font-weight: bold;


    }



    #grid2 {
        display: grid;
        grid-template-columns : 1fr ;
        grid-template-rows : auto auto auto auto;
        grid-column-gap: 30px;
      margin-top: 20px;
      grid-row-gap: 20px;

      }

      #grid2 > li {
        list-style-type: none;
        position: relative;
        padding-top: 50%;
      }


      #grid2 img {

        z-index: 0;
        height: 50%;
        width: 100%;
        left: 0;
        top:0;
        object-fit: contain;

        background-color: #D6C1A2;
      }

      #grid2 li.titre {
        font-family: "Vidaloka";
        font-size:50px;
        color: #a93907;
        font-weight: bold;
        text-transform:uppercase;
        text-align: center;
      }




#grid2 li.pitch {
    text-align: center;
    font-size: 18px;
     font-family: 'Arvo', serif;
     font-weight: bold;


    }

    a.commencer{
        padding: 15px 18px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #D6C1A2;
        background-color: #a93907;
        border: none;
        margin-left: 500px;;


        box-shadow: 0 5px #999;
        position: absolute;
      }
   a.commencer:hover {background-color: #a93907}

      a.commencer:active {
        background-color: #a93907;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }

      .container {
        background-color: #D6C1A2;
         text-align: center;
         margin-top : 100px;
         width : 500px;
         height: 380px;

           -moz-box-shadow: 8px 8px 12px #aaa;
        -webkit-box-shadow: 8px 8px 12px #aaa;
        box-shadow: 8px 8px 12px #555;
      }

      .card-header {
      padding-bottom: 10px;
      padding-top: 40px;
      width: 500px;
      font-size: 20px;
      font-family: "Times New Roman", Times, serif;
      }

      .card-body form {
        width : 500px;
        height: 300px;
        padding-top: 40px;
        padding-left: 65px;
        text-align: center;
        margin : 0;

      }

      .col-md-8 {
        padding :0;
        margin: 0;
        width: 500px;

      }

      a.chap {
  display: inline-block;
  float: left;
  padding: 30px;
  max-width: 1200px;
  text-transform: uppercase;
  font-family: "Vidaloka";
  font-size: 20px;
    color:  #a93907;

      }

      a.chap:hover {
    display: inline-block;
    float: left;
    padding: 30px;
    max-width: 1200px;
    text-transform: uppercase;
    font-family: "Vidaloka";
    font-size: 20px;
      color:  #a93907;
      font-weight: bold;
      list-style-type: none;
      text-decoration: none;
      cursor: pointer;


      }


      #grid3 {
        display: grid;
        grid-template-columns : 1fr ;
        grid-template-rows : auto auto auto;
        grid-column-gap: 30px;
        margin-top: 20px;
        grid-row-gap: 20px;



      }


      #grid3 > li {
        list-style-type: none;
        position: relative;
        padding-top: 50%;
      }


      #grid3 img {
        z-index: 0;
        height: 50%;
        width: 100%;
        left: 0;
        top:0;
        object-fit: contain;

      }


      #grid3 li.pitch2 {
          text-align: center;
          font-size: 30px;
           font-family: 'Vidaloka', serif;
           font-weight: bold;
           text-transform: uppercase;



          }
      #grid3 li.pitch {
              text-align: justify;
              font-size: 13px;
               font-family: 'Arvo', serif;
               font-weight: bold;


              }
              #grid4 {
                display: grid;
                grid-template-columns : 1fr ;
                grid-template-rows : auto ;
                grid-column-gap: 30px;
                margin-top: 20px;
                grid-row-gap: 20px;
                border: solid 1px red;


              }


              #grid3 > li {
                list-style-type: none;
                position: relative;
                padding-top: 50%;
              }




      a.choix {
        margin: auto;
        display: block;
        /* max-width: 00px; */
      margin-top: 10px;
margin-top: 10px;
line-height: 50px;

        font-family: 'Arvo', serif;
        font-weight: bold;
          list-style-type: none;
  text-decoration: none;

  text-align: center;


  color:  #a93907;


      }

      a.choix:hover {
        /* max-width: 1200px; */
        margin-right: auto;
        font-family: 'Arvo', serif;
        font-weight: bold;
        list-style-type: none;
        text-decoration: none;
        cursor: pointer;


      }


      ul.question {
        max-width: 1200px;
        padding: 50px;
        text-align: center;
        margin-right: auto;
        font-family: 'Arvo', serif;
        font-weight: bold;
          list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
      }


      .text-center h3 {
  padding-top: 50px;
  font-size: 45px;

font-family: "Vidaloka";
font-weight: bold;
}


.formulaire {
  text-align: center;
  margin: 0 auto 0 auto;
	width:830px;
  height: 610px;
}


.formulaire .texteform {
  font-size: 20px;
  float:left;
}

.formulaire .col-md-4 {
  width: 50%;
  height: 100px;
  width: 810px;
  padding-left: 80px;
}

.formulaire .form-group {
    background-color: #D6C1A2;
    padding-top: 40px;
    padding-bottom: 40px;
}


@media (max-width:993px){
 .titre_img{
  height:100px;
  margin-left:auto;
  margin-right:auto;
  }
  a.chap{
    display: none;
  }
}



  .navbar-default .navbar-collapse{
	background-color:#4c311f;
}

@media all and (max-width:30em){
      a.commencer{
      display:block;
      margin: 0.4em auto;

      }

      a.chap{
        display: none;
      }
     }



     #grid5 {
       display: grid;
       grid-template-columns : 1fr ;
       grid-template-rows : 200px 200px 200px;
       grid-column-gap: 30px;
       margin-top: 20px;
       grid-row-gap: 20px;



     }


     #grid5 > li {
       list-style-type: none;
       position: relative;
       padding-top: 50%;
     }


     #grid5 img {
       z-index: 0;
       height: 50%;
       width: 100%;
       left: 0;
       top:0;
       object-fit: contain;

     }

.grandtitre {
  font-family: "Vidaloka";
  font-size:40px;
  color: #a93907;
  font-weight: bold;
float: left;
margin-left: 50px;

}

fieldset{
 text-align: center;
 margin: 0 auto 0 auto;
 width: 850px;
}



fieldset.texteform {
 font-size: 20px;
 float:left;
}

fieldset.col-md-4 {
 width: 50%;
 height: 100px;
 width: 810px;
 padding-left: 80px;
}

fieldset.form-group {
   background-color: #D6C1A2;
   padding-top: 40px;
   padding-bottom: 40px;
}
